.navigation {
  @include flex-config($flex: 2)
}

.navigation__item {
  @include flex-config($justify: center, $direction: column, $flex: 1);
  padding-left: 20px;
  background: $light-green;
  cursor: pointer;
}

.navigation__item:hover {
  background: $green-active;
}

.navigation__title {
  @include font($family: $arial, $size: $font-size--big, $height: $line-height--normal, $color: $primary-green);
}

.navigation__subtitle {
  @include font($family: $arial, $style: $italic, $size: $font-size--tiny, $height: $line-height--normal, $color: $primary-green);
}