/* common styles */
body {
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  column-gap: 44px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}