.footer {
  width: 100%;
  margin-top: 22px;

  &__legal ul {
    display: flex;
    column-gap: 8px;
    margin-bottom: 5px;
  }

  &__legal ul>li:last-child {
    border-right: none;
  }

  &__legal {
    @include font($size: $font-size--small, $height: $line-height--small);
    letter-spacing: -0.02em;
  }

  &__legal a {
    color: $primary-green;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copiright {
    color: $smoke;
  }

  &__social {
    display: flex;
  }

  &__icon {
    height: 32px;
    width: 32px;
    opacity: .2;
  }

  @each $key, $value in $social-icons {
    &__icon_#{$key} {
      background-image: url(#{$value})
    }
  };
}

.container_bordered {
  @include flex-config($justify: space-between);
  border-top: 2px solid $smoke;
  padding: 26px 8px;
}