$font-size--tiny: 1rem;
$font-size--small: 1.2rem;
$font-size--regular: 1.4rem;
$font-size--normal: 1.6rem;
$font-size--big: 1.8rem;
$font-size--huge: 2.2rem;

$line-height--tiny: 1rem;
$line-height--small: 1.2rem;
$line-height--regular: 1.4rem;
$line-height--normal: 1.8rem;
$line-height--big: 2rem;
$line-height--huge: 2.2rem;

$arial: 'Arial', sans-serif;
$verdana: 'Verdana', sans-serif;

$normal: normal;
$italic: italic;

$weight--normal: normal;