@mixin font ($family: $arial, $style: $normal, $weight: normal, $size: $font-size--regular, $height: $line-height--regular, $color: $primary-green) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex-config($direction: false, $justify: false, $align: false, $flex: false, $wrap: false) {
  display: flex;

  @if $justify != false {
    justify-content: $justify;
  }

  @if $flex != false {
    flex: $flex;
  }

  @if $direction != false {
    flex-direction: $direction;
  }

  @if $align != false {
    align-items: $align;
  }

  @if $wrap != false {
    flex-wrap: $wrap;
  }
}

