.banner {
  display: flex;
  flex-direction: column;
  height: 530px;
}

.slide {
  flex: 10;
}

.slide__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-image: url(../assets/img/backgraunds/baner.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide__title {
  width: 30%;
  background: #FFFFFF;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.slide__subtitle {
  width: 53%;
  background-color: #000;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.navigation {
  display: flex;
  flex: 2;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-left: 20px;
  background: #EFF8F7;
  cursor: pointer;
}

.navigation__item:hover {
  background: #D9EFEC;
}

.navigation__title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #34ACA7;
}

.navigation__subtitle {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 19px;
  color: #34ACA7;
}
