.footer {
  width: 100%;
  margin-top: 22px;
}

.container_bordered {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #E5E5E5;
  padding: 26px 8px;
}

.footer__legal ul {
  display: flex;
  column-gap: 8px;
  margin-bottom: 5px;
}

.footer__legal ul li {
  border-right: 1px solid #E5E5E5;
  padding-right: 8px;
}

.footer__legal ul>li:last-child {
  border-right: none;
}

.footer__legal a {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #34ACA7;
}

.footer__legal a:hover {
  text-decoration: underline;
}

.footer__copiright {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
}

.footer__social {
  display: flex;
}

.footer__icon {
  height: 32px;
  width: 32px;
  opacity: .2;
}

.footer__icon_tweet {
  background-image: url('../assets/img/icons/twitter-icon.svg');
}

.footer__icon_fb {
  background-image: url('../assets/img/icons/fb-icon.svg');
}

.footer__icon_rss {
  background-image: url('../assets/img/icons/rss-icon.svg');
}