.menu {
  @include flex-config($direction: column);
  padding: 3px;

  &__link {
    margin-bottom: 30px;
    border-radius: 4px;

    &:hover {
      background-color: $green-active;

      img {
        opacity: 0.3;
      }
    }

    img {
      margin-right: 12px;
    }
  }

  &__item {
    position: relative;
    @include flex-config($align: center);
    min-height: 32px;
    padding-left: 44px;
    @include font(
      $size: $font-size--regular,
      $height: $line-height--regular,
    );
  }

  &__item_icon::before {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0px;
  }
}

@each $key, $value in $menu-icons {
  .#{$key}-icon::before {
    background-image: url(#{$value})
  }
};